<div class = "article-container">
    <div class = "article"> 
        <img src = "../../public/images/img8.jpg" alt="Image Not Found" style="width: 10px height: 10px ;">
    </div>
    <div class = "article"> 
        <p><b> Dr. {{Doctor.First_Name}} {{Doctor.Last_Name}}</b> </p>
        <p><b>{{Doctor.Speciality}}</b> </p>
        <p><b> Address :
        <dd>{{#with Doctor.Address}}</dd>
        <dd>{{Street}}, {{City}}, {{State}}, {{Zip}}</dd>
        {{/with}}
        </b></p>
    </div>
</div>
<div>
    <form id="wefwf" method="post" action = "/doctors/bookApp/{{Doctor._id}}"> <b>Book an Appointment
         <input type="datetime-local" id="appointment_details" name="input_details">
         <input type="submit">
    </form>
</div>
<div>
    <form id="formForComment" method="post" action="/reviews/{{Doctor._id}}">Review On This Doctor
    <button type="submit" value="Submit" id="submit3">Give review</button>
    </form>
    <br><br>
    <div id="errorcheck">
        {{#if error}}
        <p>{{error}}</p>
        {{/if}}
     </div>
    <script src="/public/js/ReviewclientSide.js"></script>
    
</div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"crossorigin="anonymous"></script>
<div> 
    <p>Overall Rating: {{Doctor.overallRating}}</p> <br> 
  
</div>


<div>
    <p>Reviews:</p>
    {{#each b}}
    <ul class='commentList'>
        <li class='comment'><h3>Review : {{Doctor.Review_text}}</h3>
    <h4>Rating : {{Doctor.Rating}}</h4></li>
    </ul>
    {{/each}}
</div></b>
<a href="../">Back to Feed</a>
<br><br><br>
